*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightskyblue;
}

/* 맨위 */

#TOP{
    background-color: #fff;
    color: blue;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#TOP h2{
    font-size: 36px;
    font-weight: 600;
    position: relative;
    left: 5%;
    cursor: pointer;
}

.TOP-button{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.TOP-button li{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.TOP-button li a{
    text-decoration-line: none; 
    border: 1px solid rgba(0, 0, 0, 0) ;
    border-radius: 5px;
}

.TOP-button li a:visited{
    color: #000;
}

.TOP-button li a:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


.hamberger{
    border: none;
    outline: none;
    background-color: transparent;
    display: none;
    position: relative;
    right: 10%;
    cursor: pointer;
}

.hamberger div{
    width: 20px;
    margin-bottom: 5px;
    border-bottom: 3px solid black;
    border-radius: 10px;
}

#nav-bar{
    position: fixed;
    width: 150px;
    height: 100vh;
    top: 0;
    right: -200px;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    background-color: lightskyblue;
    transition: 0.5s;
}

.nav-button{
    position: fixed;
    list-style: none;
    text-align: center;
    position: relative;
    top: 50px;
    transition: 0.5s;
    font-size: 20px;
}

.nav-button li{
    margin: 25px;
}

.nav-button li a{
    text-decoration-line: none;
    color: #000;
    font-weight: 700;
}

.nav-button li a:visited{
    color: #000;
}

.nav-button li a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.nav-X{
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    left: 72px;
    top: 32px;
    z-index: 3;
}

@media only screen and (min-width:651px) and (max-width:1280px){
    .TOP-button{
        width: 50vw;
    }
}

@media only screen and (max-width:650px){
    .TOP-button{
        display: none;
    }
    .hamberger{
        display: block;
    }
}

/* ONE */

#ONE{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.Self{
    flex-basis: 600px;
    background-color: #00214d;
    border-radius: 20px;
    border: 10px solid white;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Self h2{
    flex-basis: 10%;
    font-size: 32px;
    padding: 20px;
}

.Self p{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.Photo{
    text-align: center;
    margin-bottom: 20px;
}

.Photo h2{
    padding: 10px;
}

.Photo img{
    width: 300px;
    height: 410px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.2s;
}

.Photo img:hover{
    transition: 0.2s;
    transform: scale(1.025);
}

@media screen and (max-width:1280px) {
    #ONE{
        background-color: #fff;
        display: flex;
        justify-content: center ;
        flex-wrap: wrap;
    }
    .Self{
        flex-basis: 60%;
    }
    .Self h2{
        font-size: 26px;
    }
    .Self p {
        font-size: 18px;
    }

    .Photo{
        flex-basis: 100%;
    }
}

@media screen and (max-width:640px) {
    .Self{
        flex-basis: 80%;
    }
}

/* TWO */

#TWO{
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    margin: 20px 20px auto;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.TWO-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid rgba(71, 71, 71, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 20px;
    transition: 0.2s;
}

.card img{
    width: 300px;
    height: 180px;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

@media screen and (max-width:640px){
    .card img{
        width: 55vw;
        height: auto;
    }
    .card{
        font-size: 18px;
    }
}

/* THREE */

#THREE{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0 25   px 0;
}

#THREE h3{
    padding: 15px;
}

.ect{
    display: flex;
    justify-content: space-evenly;
}

.ect ul{
    list-style: none;
    width: 300px;
    margin-bottom: 50px;
}

.ect ul li{
    line-height: 20px;
}

@media screen and (max-width: 900px){
    .ect{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        padding-bottom: 20px;
    }
    
}

/* 아무거나 */

.inTOP{
    position: fixed;
    color: #000;
    bottom: 10%;
    right: 20px;
    background-color: #fff;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
}

.inTOP:visited{
    color: #000;
}

.toTOP{
    border: none;
    background-color: transparent;
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
}
